{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="breadcrumb">
    <h1>VEICULOS</h1>
    <ul>
        <li>GERAL</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row mb-4" style="margin-top: -3%;">
    <div class="col-md-12 mb-4">
        <div class="card-body" style="text-align: right;">
            <button style="margin-right: 40%;" class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="nav-icon i-File-Clipboard-File--Text font-weight-bold" aria-hidden="true"></i> Relatórios
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'veiculo:index_veiculo' %}">
                    <i class="i-Car"> </i> Veiculo
                </a>
                <a class="dropdown-item" href="{% url 'veiculo:index_conserto' %}">
                    <i class="i-Farmer"> </i> Consertos
                </a>
                <a class="dropdown-item" href="{% url 'veiculo:index_abastecimento' %}">
                    <i class="i-Gas-Pump"> </i> Abastecimento
                </a>
            </div>
            {% if user.is_authenticated %}
            <a href="{% url 'veiculo:veiculo_add' %}" class="btn btn-success" onclick="return showAddPopup(this);">
                <i class="nav-icon i-Add font-weight-bold" aria-hidden="true"></i> Criar Veiculo
            </a>
            {% endif %}

        </div>
    </div>
</div>

<div class="row mb-4" style="margin-top: -4%;">
    <div class="col-md-12 mb-4">
        <div class="card text-left">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="zero_configuration_table" class="display table table-striped table-bordered"
                        style="width:100%">
                        <thead class="thead-dark">
                            <tr>
                                <th>Nome</th>
                                <th>Ano</th>
                                <th>Placa</th>
                                <th>Renavam</th>
                                <th scope="col">Ação</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for veiculo in veiculos %}
                            <tr>
                                <td> <a style="color: blue; font-weight: bold;" href="{{ veiculo.get_absolute_url }}">
                                        {{ veiculo.nome }} </a> </td>
                                <td>{{ veiculo.ano }}</td>
                                <td>{{ veiculo.placa }}</td>
                                <td>{{ veiculo.renavam }}</td>
                                <td>
                                {% if user.is_authenticated %}
                                    <a href="{{ veiculo.get_conserto_url }}" class="text-success mr-2"
                                        onclick="return showAddPopup(this);">
                                        <i class="nav-icon i-Farmer font-weight-bold"></i>
                                    </a>
                                    <a href="{{ veiculo.get_abastecimento_url}}" class="text-primary mr-2"
                                        onclick="return showAddPopup(this);">
                                        <i class="nav-icon i-Gas-Pump font-weight-bold"></i>
                                    </a>
                                    <a href="#" class="text-success mr-2">
                                        <i class="nav-icon i-Pen-2 font-weight-bold"></i>
                                    </a>
                                    <a href="#" class="text-danger mr-2"
                                        onclick="excluir({{ veiculo.id }}, 'veiculo')">
                                        <i class="nav-icon i-Close-Window font-weight-bold"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Nome</th>
                                <th>Ano</th>
                                <th>Placa</th>
                                <th>Renavam</th>
                                <th scope="col">Ação</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock content %}


{% block js %}
    <script src="{% static 'js/excluir_alert.js' %}"></script>
    <script src="{% static 'js/vendor/sweetalert2.min.js' %}"></script>
{% endblock js %}
    