{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

    {% block content %}
    {% for a in abastecimento %}
    <div class = "container">
            <h1 style="text-align:center;">Excluir Abastecimento </h1>
            <form method = 'GET' action= '' enctype = "multipart/form-data" novalidate id = "fornecedor-form">{% csrf_token %}
                <h3 style="text-align:center;">VOCÊ TEM CERTEZA?</h3>
                <h4 style="text-align:center;"><span style="color: red; font-weight: bold;">{{ a.posto }} - R$ {{ a.valor }}</span></h4>
                
                <div class="col-md-12" style="text-align:center;">
                        <input type="submit" name="excluir" id="excluir" value="Excluir" class="btn btn-danger foot-btn"></button>
                </div>           
            </form>
        </div>
        {% endfor %}
        {% endblock %}

</body>
</html>