{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

    {% block content %}
    <div class = "container">
            <form method = 'POST' action= '' enctype = "multipart/form-data" novalidate id = "id_item2">{% csrf_token %}
                <h3 style="color: red; font-weight: bold;">EMPRÉSTIMO</h3>
                {{ form.funcionario|as_crispy_field }}
                <a href="{% url 'funcionario:funcionario_add_norefresh' %}" class="text-success mr-2" onclick="return showAddPopup_NoRefresh(this);">
                    <i class="nav-icon i-Add font-weight-bold"></i></a>
                {{ form.item|as_crispy_field }}
                <a href="{% url 'estoque:add_item' %}" class="text-success mr-2" onclick="return showAddPopup_NoRefresh(this);">
                    <i class="nav-icon i-Add font-weight-bold"></i></a>
                {{ form.obra|as_crispy_field }}
                <a href="{% url 'obra:add_obra' %}" class="text-success mr-2" onclick="return showAddPopup_NoRefresh(this);">
                    <i class="nav-icon i-Add font-weight-bold"></i></a>
                {{ form.quantidade|as_crispy_field }}
                {{ form.data|as_crispy_field }}
                {{ form.obs|as_crispy_field }}
                <label for="files">Fotos:</label>
                <input type="file" id="files" name="files" multiple><br><br>
                <div class="col-md-12"> 
                    <button type="submit" class="btn btn-success">Salvar e Sair</button>
                    <input type="submit" name="add" id="add" value="Adicionar Outro" class="btn btn-primary foot-btn"></button>
                </div>
            </form>
        </div>
        {% endblock %}


{% block js %}
    <script src="{% static 'js/item_entrada_select2.js' %}"></script>
    <script src="{% static 'js/JanelaSemRefresh.js' %}"></script>
{% endblock js %}