{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="breadcrumb">
    <h1>ENTRADAS</h1>
    <ul>
        <li>GERAL</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row mb-4" style="margin-top: -3%;">
    <div class="col-md-12 mb-4">
        <div class="card-body" style="text-align: right;">
            {% if user.is_authenticated %}
            <a href="{% url 'estoque:item_entrada' %}" class="btn btn-success" onclick="return showAddPopup(this);">
                <i class="nav-icon i-Add font-weight-bold" aria-hidden="true"></i> Entrada
            </a>
            {% endif %}
            <a href="{% url 'estoque:index_entrada' %}" class="btn btn-info" onclick="return showAddPopup(this);">
                <i class="nav-icon i-File-Clipboard-File--Text font-weight-bold" aria-hidden="true"></i> Relatório
            </a>

        </div>
    </div>
</div>

<div class="row mb-4" style="margin-top: -4%;">
    <div class="col-md-12 mb-4">
        <div class="card text-left">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="zero_configuration_table" class="display table table-striped table-bordered"
                        style="width:100%">
                        <thead class="thead-dark">
                            <tr>
                                <th>Data</th>
                                <th>Item</th>
                                <th>Funcionário</th>
                                <th>Obra</th>
                                <th>OBS</th>
                                <th>QTDE</th>
                                <th scope="col">Ação</th>
                            </tr>
                        </thead>
                        <tbody style="background-color: rgb(204, 250, 224);">

                            {% for entrada in entradas %}
                            <tr>
                                <td>{{ entrada.get_data }}</td>
                                <td> <a style="color: blue; font-weight: bold;"
                                        href="{% url 'estoque:item_detalhe' pk=entrada.item.id %}"> {{ entrada.item.nome }} </a> </td>
                                
                                {% if entrada.funcionario %}
                                <td> <a style="color: blue; font-weight: bold;"
                                        href="{% url 'funcionario:funcionario_detalhe' pk=entrada.funcionario.id %}">
                                        {{ entrada.funcionario.nome|default_if_none:'-' }} </a> </td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}

                                <td>{{ entrada.obra|default_if_none:'-' }}</td>
                                <td>{{ entrada.obs|default_if_none:'-' }}</td>
                                <td>{{ entrada.quantidade }} {{ entrada.item.unidade }}</td>
                                <td>
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'estoque:entrada_item_editar' pk=entrada.id %}"
                                        class="text-success mr-2" onclick="return showAddPopup(this);">
                                        <i class="nav-icon i-Pen-2 font-weight-bold"></i>
                                    </a>
                                    <a href="#" class="text-danger mr-2" onclick="excluir({{ entrada.id }}, 'entrada')">
                                        <i class="nav-icon i-Close-Window font-weight-bold"></i>
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Data</th>
                                <th>Item</th>
                                <th>Funcionário</th>
                                <th>Obra</th>
                                <th>OBS</th>
                                <th>QTDE</th>
                                <th scope="col">Ação</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block js %}
<script src="{% static 'js/excluir_alert.js' %}"></script>
<script src="{% static 'js/vendor/sweetalert2.min.js' %}"></script>
{% endblock js %}