{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

    {% block content %}
    <div class = "container">
            <h1 style="text-align:center;">Excluir Item </h1>
            <form method = 'GET' action= '' enctype = "multipart/form-data" novalidate id = "item-form">
                <h3 style="text-align:center;">VOCÊ TEM CERTEZA?</h3>
                <h4 style="text-align:center;">Descrição: {{ nome }}</h4>
                
                <div class="col-md-12" style="text-align:center;">
                        <input type="submit" name="excluir" id="excluir" value="Excluir" class="btn btn-danger foot-btn"></button>
                </div>           
            </form>
        </div>
        {% endblock %}

</body>
</html>