{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<div class="breadcrumb">
    <h1>OBRAS</h1>
    <ul>
        <li>GERAL</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row mb-4" style="margin-top: -3%;">
    <div class="col-md-12 mb-4">
      <div class="card-body" style="text-align: right;">
      {% if user.is_authenticated %}
        <a href="{% url 'obra:obra_add' %}" class="btn btn-success" onclick="return showAddPopup(this);">
            <i class="nav-icon i-Add font-weight-bold" aria-hidden="true"></i> Nova Obra
            </a>
        {% endif %}
      </div> 
    </div>
  </div>

  <div class="row mb-4" style="margin-top: -4%;">
        <div class="col-md-12 mb-4">
          <div class="card text-left">
              <div class="card-body">
                  <div class="table-responsive">
                      <table id="zero_configuration_table" class="display table table-striped table-bordered" style="width:100%">
                          <thead class="thead-dark">
                              <tr>
                                  <th>Data</th>
                                  <th>Cliente</th>
                                  <th>Descrição</th>
                                  <th>Local</th>
                                  <th scope="col">Ação</th>
                              </tr>
                          </thead>
                          <tbody>
                              
                              {% for obra in obras %}       
                              <tr>
                                  <td>{{ obra.get_data }}</td>
                                  <td>{{ obra.cliente }}</td>
                                  <td> <a style="color: blue; font-weight: bold;" href="obra/{{ obra.id }}"> {{ obra.nome }} </a> </td>
                                  <td>{{ obra.local }}</td>
                                  <td>
                                  {% if user.is_authenticated %}
                                      <a href="#" class="text-success mr-2">
                                          <i class="nav-icon i-Pen-2 font-weight-bold"></i>
                                      </a>

                                      <a href="#" class="text-danger mr-2" onclick="excluir({{ obra.id }}, 'obra')">
                                        <i class="nav-icon i-Close-Window font-weight-bold" ></i>
                                </a>
                                    {% endif %}
                                    <a href="{% url 'obra:index_obra' pk=obra.id %}" class="text-info mr-2">
                                        <i class="nav-icon i-ID-Card font-weight-bold" ></i>
                                    </a>

                                      
                                  </td>
                              </tr>
                              {% endfor %}
                          </tbody>
                          <tfoot>
                                <tr>
                                    <th>Data</th>
                                    <th>Cliente</th>
                                    <th>Descrição</th>
                                    <th>Local</th>
                                    <th scope="col">Ação</th>
                                </tr>
                          </tfoot>
                      </table>
                  </div>
      
              </div>
          </div>
      </div>
      </div>


{% endblock content %}


{% block js %}
      
    <script src="{% static 'js/excluir_alert.js' %}"></script>
    <script src="{% static 'js/vendor/sweetalert2.min.js' %}"></script>
{% endblock js %}
    